{% extends 'xadmin/base_site.html' %}
{% load i18n xadmin_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">导出佣金报表</h3>
                </div>
                <div class="panel-body">
                    <form method="get" action="{{ export_url }}">
                        <div class="form-group">
                            <label for="month-select">选择月份:</label>
                            <select id="month-select" name="month" class="form-control">
                                {% for year, month, display in months %}
                                    <option value="{{ year }}-{{ month }}" {% if selected_date == display %}selected{% endif %}>
                                        {{ display }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">导出报表</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
